* {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 0.2em;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.breadcrumb {
    margin-top: 2em;
}

.breadcrumb li a {
    list-style: none;
    color: #333;
}

.breadcrumb-item {
    font-size: 0.7em;
}


.breadcrumb-item .active {
    font-size: 0.7em;
}

.content {
    padding-top: 2em;
}

.zutaten {
    margin-top: 1em;
}

.btn-rezept {
    background-color: #D90B1C;
    color: white;
    border: none;
    border-radius: 0.2em;
    padding: 0.5em;
}

.btn-search {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0.2em;
    padding:0.375rem 0.75rem;
    width: 50%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.card {
    margin-top:1em;
}

.card-box h2 {
    margin-top: 2em;
}

.zubereitung p {
    background-color: #99B1BF;
    color: white;
    padding: 2em;
    border-radius: 0.2em;
}

.footer {
    margin-top: 3em;
    padding-top: 2em;
    background-color: #333;
}

.footer form  button {
    margin-top: 1em;
}