* {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 0.2em;
}

.container {
    max-width: 1280px;
}

.breadcrumb {
    margin-top: 2em;
}

.breadcrumb li a {
    list-style: none;
    color: #333;
}

.content {
    padding-top: 2em;
}

.btn-rezept {
    background-color: #D90B1C;
    color: white;
    border: none;
    border-radius: 0.2em;
    padding: 0.5em;
}

.card {
    margin-top:1em;
}

.gallery {
    padding-top: 2em;
}

.gallery img {
    padding-top:0.5em
}

.zubereitung p {
    background-color: #99B1BF;
    color: white;
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 0.2em;
}